# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# PyInstaller
# Usually contains a build directory and a spec file
# The spec file is used to build a standalone executable
# Uncomment the following line to ignore it
# *.spec

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Python test reports
test_results/

# Logs
*.log

# Local configuration files
*.local
*.pkl

# Environment variables
.env
